html, body {
  height: 100%;
}

body {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(109, 16, 179, 1) 0%, rgb(54, 2, 76) 100%);
  color: #fff;
}

button {
  background-color: #46067e;
  color: #fff;
  padding: 0 45px;
  border: 2px solid #fff;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

.anim:hover {
  background-color: #33035c;
  letter-spacing: 1.5px;
}

.unanim:hover {
  background-color: #33035c;
}